.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 1301px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#inicio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: -259px;
}

#u13786
{
	z-index: 22;
	width: 1140px;
	height: 1246px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.81;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=81)";
	filter: alpha(opacity=81);
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u13560
{
	z-index: 21;
	width: 1140px;
	height: 1246px;
	border-style: none;
	border-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
	background: #000000 url("../images/amplificadores%20de%20gritarra-u12372-fr2.jpg") no-repeat center top;
	background-size: contain !important;
}

#u13557
{
	z-index: 24;
	height: 208px;
	width: 220px;
	vertical-align: top;
	background: url("../images/u13557.png") no-repeat 0px 0px;
	position: fixed;
	top: -11px;
	left: 89px;
}

#u13557:hover
{
	background: url("../images/u13557-r.png") no-repeat 0px 0px;
}

#menuu13521
{
	z-index: 197;
	width: 134px;
	position: fixed;
	top: 214px;
	left: 132px;
}

#u13540
{
	width: 134px;
	position: relative;
}

#u13541
{
	width: 134px;
	min-height: 35px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u13541:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	width: 133px;
	min-height: 34px;
	margin: 0px -10001px -1px 0px;
}

#u13541.MuseMenuActive
{
	border-style: none;
	border-color: #7F7F7F;
	background-color: #666666;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13525
{
	width: 134px;
	min-height: 35px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u13525:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	width: 133px;
	min-height: 34px;
	margin: 0px -10001px -1px 0px;
}

#u13534
{
	width: 134px;
	min-height: 35px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u13534:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	width: 133px;
	min-height: 34px;
	margin: 0px -10001px -1px 0px;
}

#u13522,#u13533,#u13547
{
	width: 134px;
	margin-top: 1px;
	position: relative;
}

#u13548
{
	width: 134px;
	min-height: 35px;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u13548:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	width: 133px;
	min-height: 34px;
	margin: 0px -10001px -1px 0px;
}

#u13525.MuseMenuActive,#u13534.MuseMenuActive,#u13548.MuseMenuActive
{
	border-style: none;
	background-color: #666666;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13544-4,#u13528-4,#u13535-4,#u13549-4
{
	width: 126px;
	min-height: 31px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	font-size: 26px;
	color: #FFFFFF;
	font-family: aguafina-script, cursive;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 18px;
	left: 2px;
}

#pamphletu14407
{
	z-index: 157;
	width: 0.01px;
	height: 123px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 203px;
}

#u14424popup
{
	z-index: 158;
}

#u14425
{
	z-index: 159;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14426-8
{
	z-index: 160;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u14414
{
	z-index: 168;
	width: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u14415
{
	position: absolute;
	width: 315px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 32px;
	top: 9px;
	left: 9px;
}

#u14435
{
	z-index: 175;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u14418-4
{
	z-index: 170;
	width: 203px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14254
{
	z-index: 174;
	width: 234px;
	min-height: 103px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#pamphletu14341
{
	z-index: 117;
	width: 0.01px;
	height: 126px;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 273px;
	left: 203px;
}

#u14360popup
{
	z-index: 118;
}

#u14361
{
	z-index: 119;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14362-8
{
	z-index: 120;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u14348
{
	z-index: 128;
	width: 315px;
	position: relative;
	margin-right: -10000px;
}

#u14349
{
	position: absolute;
	width: 315px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 28px;
}

#u14365
{
	z-index: 135;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u14351-4
{
	z-index: 131;
	width: 203px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14354
{
	z-index: 130;
	width: 236px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pamphletu14454
{
	z-index: 177;
	width: 0.01px;
	height: 124px;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 424px;
	left: 203px;
}

#u14472
{
	position: absolute;
	width: 259px;
	top: 79px;
	left: 8px;
}

#u14472popup
{
	z-index: 178;
}

#u14473
{
	z-index: 179;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14474-8
{
	z-index: 180;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u14455
{
	z-index: 188;
	width: 315px;
	position: relative;
	margin-right: -10000px;
}

#u14456
{
	position: absolute;
	width: 315px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 17px;
}

#u14457
{
	z-index: 190;
	width: 70px;
	position: relative;
	margin-right: -10000px;
}

#pu14459-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#u14459-4
{
	z-index: 193;
	width: 148px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14460
{
	z-index: 192;
	width: 236px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pamphletu13932
{
	z-index: 52;
	width: 0.01px;
	height: 125px;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 576px;
	left: 202px;
}

#u13939
{
	position: absolute;
	width: 259px;
	top: 80px;
	left: 1px;
}

#u13939popup
{
	z-index: 53;
}

#u13940
{
	z-index: 54;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13941-8
{
	z-index: 55;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u13933
{
	z-index: 63;
	width: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u13934
{
	position: absolute;
	width: 322px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 33px;
	top: 9px;
	left: 9px;
}

#u14257
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#pu14318-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#u14318-4
{
	z-index: 68;
	width: 148px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14316
{
	z-index: 67;
	width: 236px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pamphletu14063
{
	z-index: 97;
	width: 0.01px;
	height: 125px;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 932px;
	left: 202px;
}

#u14070
{
	position: absolute;
	width: 259px;
	top: 80px;
}

#u14070popup
{
	z-index: 98;
}

#u14071
{
	z-index: 99;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14072-8
{
	z-index: 100;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u14075
{
	z-index: 108;
	width: 321px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -8px;
}

#u14076
{
	position: absolute;
	width: 313px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 10px;
	top: 9px;
	left: 8px;
}

#u14743
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -8px;
}

#pu14340-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u14340-4
{
	z-index: 111;
	width: 203px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	position: relative;
}

#u14338
{
	z-index: 110;
	width: 243px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#ppu13831
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 514px;
}

#pu13831
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u13831
{
	z-index: 27;
	width: 78px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #9D9D9D;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#u13832-4
{
	z-index: 28;
	width: 78px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	text-align: center;
	font-size: 21px;
	line-height: 1.5;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pamphletu14383
{
	z-index: 137;
	width: 0.01px;
	height: 126px;
	padding-bottom: 28px;
	margin-left: 79px;
	margin-top: 20px;
	position: relative;
}

#u14400popup
{
	z-index: 138;
}

#u14401
{
	z-index: 139;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14402-8
{
	z-index: 140;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u14386
{
	z-index: 148;
	width: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u14387
{
	position: absolute;
	width: 347px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 28px;
	top: 9px;
	left: 9px;
}

#u14438
{
	z-index: 155;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u14391-4
{
	z-index: 151;
	width: 203px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14392
{
	z-index: 150;
	width: 235px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pamphletu13952
{
	z-index: 72;
	width: 0.01px;
	height: 126px;
	padding-bottom: 28px;
	margin-left: 79px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u14424,#u14360,#u14400,#u13965
{
	position: absolute;
	width: 259px;
	top: 80px;
	left: 8px;
}

#u13965popup
{
	z-index: 73;
}

#u13966
{
	z-index: 74;
	width: 259px;
	height: 67px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13967-8
{
	z-index: 75;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u13957
{
	z-index: 83;
	width: 315px;
	position: relative;
	margin-right: -10000px;
}

#u13958
{
	position: absolute;
	width: 315px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 28px;
}

#u14323
{
	z-index: 90;
	width: 69px;
	position: relative;
	margin-right: -10000px;
}

#pu14418-4,#pu14351-4,#pu14391-4,#pu14322-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 79px;
}

#u14322-4
{
	z-index: 86;
	width: 203px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14320
{
	z-index: 85;
	width: 236px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu14061
{
	z-index: 92;
	width: 0.01px;
	position: relative;
	margin-top: 450px;
}

#u14061
{
	z-index: 0;
	width: 79px;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u14061.f3s_top
{
	width: 79px;
	background-image: url("../images/u14061-sprite.png");
	overflow: hidden;
	height: 11px;
	background-position: left top;
}

._u14061.f3s_mid
{
	background-image: url("../images/u14061-sprite.png");
	overflow: visible;
	background-position: -79px top;
	width: 79px;
	height: 12px;
}

._u14061.f3s_bot
{
	width: 79px;
	background-image: url("../images/u14061-sprite.png");
	overflow: visible;
	height: 10px;
	background-position: -158px top;
}

#pu14062-4
{
	width: 0.01px;
	position: relative;
	padding-top: 1px;
	z-index: 2;
}

#u14062-4
{
	z-index: 93;
	width: 78px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 10px ;
	-webkit-border-radius: 10px 10px 0px 10px ;
	-khtml-border-radius: 10px 10px 0px 10px ;
	border-radius: 10px 10px 0px 10px ;
	text-align: center;
	font-size: 21px;
	line-height: 1.5;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#pamphletu13892
{
	z-index: 32;
	width: 0.01px;
	height: 130px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 419px;
	left: 595px;
}

#u13909
{
	position: absolute;
	width: 259px;
	top: 85px;
	left: 1px;
}

#u13909popup
{
	z-index: 33;
}

#u13910
{
	z-index: 34;
	width: 259px;
	height: 82px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13911-8
{
	z-index: 35;
	width: 252px;
	min-height: 55px;
	text-align: justify;
	font-size: 15px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 7px;
}

#u13899
{
	z-index: 43;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u13900
{
	position: absolute;
	width: 317px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 18px;
	top: -5px;
}

#u14415.PamphletThumbSelected,#u14349.PamphletThumbSelected,#u14456.PamphletThumbSelected,#u13934.PamphletThumbSelected,#u14076.PamphletThumbSelected,#u14387.PamphletThumbSelected,#u13958.PamphletThumbSelected,#u13900.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

#u14277
{
	z-index: 45;
	width: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u14457_clip,#u14277_clip
{
	overflow: hidden;
	width: 70px;
	height: 70px;
}

#u14457_img,#u14277_img
{
	margin: -3px -6px -2px -7px;
}

#pu14315-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 78px;
}

#u14315-4
{
	z-index: 48;
	width: 236px;
	min-height: 24px;
	text-align: justify;
	font-size: 18px;
	color: #FFFFFF;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u14311
{
	z-index: 47;
	width: 236px;
	min-height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu11571
{
	width: 0.01px;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1228px;
	left: -100px;
}

#u11571
{
	z-index: 2;
	width: 1139px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u11571_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 939px;
	left: -100px;
}

#u12678
{
	z-index: 13;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 14px;
}

#u12683
{
	z-index: 15;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 115px;
}

#u11572-8
{
	z-index: 3;
	width: 285px;
	min-height: 65px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 427px;
}

#u12673
{
	z-index: 11;
	width: 190px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 948px;
}

#u12681
{
	z-index: 14;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 65px;
}

#u12686
{
	z-index: 16;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 161px;
}

#u12688-4
{
	z-index: 17;
	width: 121px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 956px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1228px;
}

